@page
@model RoomAllocation3.Pages.Bookings.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Booking.BookingID" />
            <div class="form-group">
                <label asp-for="Booking.CourseID" class="control-label"></label>
                <select asp-for="Booking.CourseID" class="form-control" asp-items="ViewBag.CourseID"></select>
                <span asp-validation-for="Booking.CourseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.RoomID" class="control-label"></label>
                <select asp-for="Booking.RoomID" class="form-control" asp-items="ViewBag.RoomID"></select>
                <span asp-validation-for="Booking.RoomID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.DayOfTheWeekID" class="control-label"></label>
                <select asp-for="Booking.DayOfTheWeekID" class="form-control" asp-items="ViewBag.DayOfTheWeekID"></select>
                <span asp-validation-for="Booking.DayOfTheWeekID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Booking.PeriodID" class="control-label"></label>
                <select asp-for="Booking.PeriodID" class="form-control" asp-items="ViewBag.PeriodID"></select>
                <span asp-validation-for="Booking.PeriodID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
