@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AVCOL Room Allocator</h1>
    <p>Teachers please log in to book a room.</p>
</div>
