@page
@model RoomBookedModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Room already booked</h1>
    <p>Sorry, this room is already booked. If you think that this room shouldn't be booked, <a href="">click here</a>.</p>
</div>